@use './base.scss';
@use './style';

/* MaterialDesignIcons.com */
@font-face {
  font-family: "Material Design Icons";
  src: url("./fonts/Inter_28pt-Medium.ttf");
  src: url("./fonts/Inter_18pt-Black.ttf") format("ttf"),
  url("./fonts/Inter_18pt-Bold.ttf") format("ttf"),
  url("fonts/Inter_28pt-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s,
  background-color 0.5s;
  line-height: 1.6;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.container {
  width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
